@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
@import url("https://fonts.googleapis.com/css?family=Poiret+One");
@font-face {
  font-family: 'Arial MT';
  src: url("../fonts/arialmt/arialmt.eot");
  src: url("../fonts/arialmt/arialmt.eot?#iefix") format("embedded-opentype"), url("../fonts/arialmt/arialmt.woff2") format("woff2"), url("../fonts/arialmt/arialmt.woff") format("woff"), url("../fonts/arialmt/arialmt.ttf") format("truetype"), url("../fonts/arialmt/arialmt.svg#ArialMT") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Arial MT';
  src: url("../fonts/arialmt/arial-boldmt.eot");
  src: url("../fonts/arialmt/arial-boldmt.eot?#iefix") format("embedded-opentype"), url("../fonts/arialmt/arial-boldmt.woff2") format("woff2"), url("../fonts/arialmt/arial-boldmt.woff") format("woff"), url("../fonts/arialmt/arial-boldmt.ttf") format("truetype"), url("../fonts/arialmt/arial-boldmt.svg#Arial-BoldMT") format("svg");
  font-weight: 700;
  font-style: normal; }

* {
  outline: none !important; }

*:focus, *:active {
  outline: none; }

body {
  background-color: #121417;
  color: #fff;
  font-family: 'Arial MT', sans-serif;
  font-weight: 400; }

body.menu-open {
  overflow: hidden; }

@-webkit-keyframes moveTop {
  0% {
    top: 0; }
  50% {
    top: -20px; }
  100% {
    top: 0; } }

@keyframes moveTop {
  0% {
    top: 0; }
  50% {
    top: -20px; }
  100% {
    top: 0; } }

@-webkit-keyframes moveLeft {
  0% {
    left: 0; }
  50% {
    left: -20px; }
  100% {
    left: 0; } }

@keyframes moveLeft {
  0% {
    left: 0; }
  50% {
    left: -20px; }
  100% {
    left: 0; } }

@-webkit-keyframes moveLeftRight {
  0% {
    left: 0; }
  50% {
    left: 50px; }
  100% {
    left: 0; } }

@keyframes moveLeftRight {
  0% {
    left: 0; }
  50% {
    left: 50px; }
  100% {
    left: 0; } }

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0); } }

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0); } }

@media (min-width: 1300px) {
  .container {
    width: 1240px; } }

._bl_background {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1; }

._bl_background img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%; }

._title_h3 {
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 6px;
  line-height: 1;
  margin: 0 0 50px;
  font-family: "Arial MT", sans-serif;
  font-weight: 700; }

@media (max-width: 767px) {
  ._title_h3 {
    font-size: 25px; } }

._img img {
  max-width: 100%; }

._img._center {
  text-align: center; }

._inner-text {
  color: #939496;
  font-family: "Arial MT", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.7; }

@media (max-width: 991px) {
  ._inner-text {
    padding: 0 15px;
    text-align: center; } }

._inner-text._center {
  text-align: center; }

._inner-text ._title {
  color: #ffffff;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.75px;
  margin-bottom: 10px; }

/*--== buttons ==--*/
.butn {
  display: inline-block;
  min-width: 328px;
  padding: 27px 15px 28px;
  -webkit-border-radius: 40px;
          border-radius: 40px;
  background-image: -webkit-linear-gradient(357deg, #773aab 0%, #cf00ff 100%);
  background-image: linear-gradient(-267deg, #773aab 0%, #cf00ff 100%);
  color: #ffffff;
  font-size: 25px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  letter-spacing: 3.27px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.butn:hover, .butn:active, .butn:focus {
  color: #ffffff;
  text-decoration: none;
  background-image: -webkit-linear-gradient(357deg, #cf00ff 0%, #773aab 100%);
  background-image: linear-gradient(-267deg, #cf00ff 0%, #773aab 100%); }

.butn_apply {
  min-width: 229px;
  padding: 20px 15px 22px;
  font-weight: 400; }

.butn_apply .fa {
  margin-right: 20px; }

/*--== /buttons ==--*/
.b_header .main_logo {
  position: absolute;
  display: inline-block;
  top: 23px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 9; }

.b_header .main_logo img {
  max-width: 100%; }

@media (max-width: 767px) {
  .b_header .main_logo {
    top: 15px; } }

@media (max-width: 460px) {
  .b_header .main_logo {
    left: 15px;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    width: -webkit-calc(100% - 108px);
    width: calc(100% - 108px); } }

.b_header ._nav {
  position: absolute;
  right: 35px;
  top: 41%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1; }

.b_header ._nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: right; }

.b_header ._nav ul li {
  line-height: 1; }

.b_header ._nav ul li + li {
  margin: 45px 0 0; }

.b_header ._nav ul a {
  font-size: 21px;
  letter-spacing: 3.15px;
  color: #a7a7a7;
  text-decoration: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  display: inline-block;
  position: relative; }

.b_header ._nav ul a:before {
  position: absolute;
  content: '';
  top: 100%;
  right: 0;
  height: 5px;
  margin-top: 10px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#773aab), to(#9c38b3));
  background-image: -webkit-linear-gradient(bottom, #773aab 0%, #9c38b3 100%);
  background-image: linear-gradient(to top, #773aab 0%, #9c38b3 100%);
  width: 0;
  -webkit-transition: all .2s linear;
  transition: all .2s linear; }

.b_header ._nav ul a:hover, .b_header ._nav ul a:active {
  color: #ffffff; }

.b_header ._nav ul a:hover:before, .b_header ._nav ul a:active:before {
  width: -webkit-calc(100% + 10px);
  width: calc(100% + 10px); }

.b_header ._nav ul .current-page a {
  color: #ffffff; }

.b_header ._nav ul .current-page a:before {
  width: -webkit-calc(100% + 10px);
  width: calc(100% + 10px); }

@media (max-width: 767px) {
  .b_header ._nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    padding: 80px 25px 0 0;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: rgba(18, 20, 23, 0.95); }
  .b_header ._nav li {
    -webkit-transform: translateX(300%);
        -ms-transform: translateX(300%);
            transform: translateX(300%);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transition-delay: .1s;
            transition-delay: .1s; }
  .b_header ._nav li:nth-child(2) {
    -webkit-transition-delay: .2s;
            transition-delay: .2s; }
  .b_header ._nav li:nth-child(3) {
    -webkit-transition-delay: .3s;
            transition-delay: .3s; }
  .b_header ._nav li:nth-child(4) {
    -webkit-transition-delay: .4s;
            transition-delay: .4s; }
  .b_header ._nav.open {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }
  .b_header ._nav.open li {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); } }

#hamburger {
  display: none;
  width: 36px;
  height: 36px;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 9;
  position: absolute;
  top: 24px;
  right: 25px; }

#hamburger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #8d39b0;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  opacity: 1;
  left: 0;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#hamburger span:nth-child(1) {
  top: 0; }

#hamburger span:nth-child(2), #hamburger span:nth-child(3) {
  top: 9px; }

#hamburger span:nth-child(4) {
  top: 18px; }

#hamburger.open span:nth-child(1) {
  top: 9px;
  width: 0;
  left: 50%; }

#hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

#hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

#hamburger.open span:nth-child(4) {
  top: 9px;
  width: 0;
  left: 50%; }

@media (max-width: 767px) {
  #hamburger {
    display: block; } }

.b_main_banner {
  min-height: 742px;
  text-align: center;
  position: relative; }

.b_main_banner ._title-holder {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.b_main_banner ._title_h1 {
  font-size: 85px;
  margin: 0 0 40px;
  line-height: 1;
  font-family: "Permanent Marker"; }

.b_main_banner ._title_h2 {
  margin: 0;
  font-size: 50px;
  font-family: "Permanent Marker"; }

@media (max-width: 767px) {
  .b_main_banner {
    min-height: 568px;
    height: 100vh; }
  .b_main_banner ._title-holder {
    width: 100%;
    padding: 0 15px; }
  .b_main_banner ._title_h1 {
    font-size: 65px; }
  .b_main_banner ._title_h2 {
    font-size: 40px; } }

.b_main_banner._inner ._title_h1 {
  font-family: 'Poiret One', cursive;
  font-size: 52px;
  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase; }

@media (max-width: 699px) {
  .b_main_banner._inner ._title_h1 {
    font-size: 42px; } }

.b_main_banner._inner ._title_h2 {
  font-family: 'Poiret One', cursive;
  font-size: 89px;
  line-height: 1;
  text-transform: uppercase;
  position: relative; }

@media (max-width: 699px) {
  .b_main_banner._inner ._title_h2 {
    font-size: 69px; } }

.b_main_banner._inner ._title_h2:before {
  content: "";
  display: block;
  position: absolute;
  width: 1018px;
  max-width: 90vw;
  height: 70%;
  bottom: 0;
  z-index: -1;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8b39b0+0,8b39b0+50,8b39b0+50,8b39b0+100&0+0,0.8+27,1+44,1+44,1+57,0.8+73,0+100 */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(139, 57, 176, 0) 0%, rgba(139, 57, 176, 0.8) 27%, #8b39b0 44%, #8b39b0 50%, #8b39b0 57%, rgba(139, 57, 176, 0.8) 73%, rgba(139, 57, 176, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(rgba(139, 57, 176, 0)), color-stop(27%, rgba(139, 57, 176, 0.8)), color-stop(44%, #8b39b0), color-stop(50%, #8b39b0), color-stop(57%, #8b39b0), color-stop(73%, rgba(139, 57, 176, 0.8)), to(rgba(139, 57, 176, 0)));
  background: linear-gradient(to right, rgba(139, 57, 176, 0) 0%, rgba(139, 57, 176, 0.8) 27%, #8b39b0 44%, #8b39b0 50%, #8b39b0 57%, rgba(139, 57, 176, 0.8) 73%, rgba(139, 57, 176, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008b39b0', endColorstr='#008b39b0', GradientType=1);
  /* IE6-9 */
  background-size: 100% 80%; }

.b_main_banner._faq ._title_h1 {
  opacity: 0.8;
  color: #eadcd9;
  font-family: "Poiret One";
  font-size: 61px;
  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: left; }

.b_main_banner._faq ._title_h2 {
  color: #ffffff;
  font-family: "Poiret One";
  font-size: 110px;
  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: left;
  position: relative; }

.b_main_banner._faq ._title_h2:before {
  content: "";
  display: block;
  position: absolute;
  width: 1018px;
  max-width: 90vw;
  height: 70%;
  bottom: 0;
  z-index: -1;
  left: -80px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#978a2d+0,b4733b+26,c16445+50,c43040+75,c43040+100&1+0,1+81,0.68+90,0+100 */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #978a2d 0%, #b4733b 26%, #c16445 50%, #c43040 75%, #c43040 81%, rgba(196, 48, 64, 0.68) 90%, rgba(196, 48, 64, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#978a2d), color-stop(26%, #b4733b), color-stop(50%, #c16445), color-stop(75%, #c43040), color-stop(81%, #c43040), color-stop(90%, rgba(196, 48, 64, 0.68)), to(rgba(196, 48, 64, 0)));
  background: linear-gradient(to right, #978a2d 0%, #b4733b 26%, #c16445 50%, #c43040 75%, #c43040 81%, rgba(196, 48, 64, 0.68) 90%, rgba(196, 48, 64, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#978a2d', endColorstr='#00c43040', GradientType=1);
  /* IE6-9 */ }

.b_main_banner._faq ._title_h2._blue {
  font-size: 89px; }

.b_main_banner._faq ._title_h2._blue:before {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#711b85+0,5c2197+26,4227ae+51,4227ae+74,4227ae+100&1+0,1+79,0.68+90,0+100 */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #711b85 0%, #5c2197 26%, #4227ae 51%, #4227ae 74%, #4227ae 79%, rgba(66, 39, 174, 0.68) 90%, rgba(66, 39, 174, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#711b85), color-stop(26%, #5c2197), color-stop(51%, #4227ae), color-stop(74%, #4227ae), color-stop(79%, #4227ae), color-stop(90%, rgba(66, 39, 174, 0.68)), to(rgba(66, 39, 174, 0)));
  background: linear-gradient(to right, #711b85 0%, #5c2197 26%, #4227ae 51%, #4227ae 74%, #4227ae 79%, rgba(66, 39, 174, 0.68) 90%, rgba(66, 39, 174, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#711b85', endColorstr='#004227ae', GradientType=1);
  /* IE6-9 */ }

@media (max-width: 991px) {
  .b_main_banner._faq ._title_h1, .b_main_banner._faq ._title_h1._blue {
    font-size: 40px; }
  .b_main_banner._faq ._title_h2, .b_main_banner._faq ._title_h2._blue {
    font-size: 60px; } }

@media (max-width: 460px) {
  .b_main_banner._faq ._title_h1, .b_main_banner._faq ._title_h1._blue {
    font-size: 35px; }
  .b_main_banner._faq ._title_h2, .b_main_banner._faq ._title_h1._blue {
    font-size: 45px; } }

.b_benefits {
  background-color: #121417;
  text-align: center;
  padding: 85px 15px 120px; }

@media (max-width: 767px) {
  .b_benefits {
    padding: 55px 15px 70px; } }

.b_benefits ._quote {
  font-size: 25px;
  text-transform: uppercase;
  padding: 45px 55px;
  max-width: 827px;
  margin: 0 auto 60px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  line-height: 2; }

@media (max-width: 767px) {
  .b_benefits ._quote {
    padding: 24px 10px;
    font-size: 20px;
    margin-bottom: 30px; } }

.b_benefits p {
  font-size: 20px;
  max-width: 900px;
  margin: 0 auto;
  line-height: 1.9; }

@media (max-width: 767px) {
  .b_benefits p {
    font-size: 18px; } }

.b_deals {
  position: relative;
  min-height: 653px;
  overflow: hidden; }

.b_deals ._img {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin: 0 100px 0 0; }

.b_deals ._img img {
  max-width: 100%; }

@media (max-width: 1090px) {
  .b_deals ._img {
    display: none; } }

.b_deals ._content {
  position: absolute;
  left: 50%;
  max-width: 525px;
  font-size: 0;
  padding: 250px 0 0; }

.b_deals ._content p {
  font-size: 45px;
  line-height: 1.25;
  margin: 0 0 60px; }

@media (max-width: 767px) {
  .b_deals ._content p {
    font-size: 30px; } }

@media (max-width: 1090px) {
  .b_deals ._content {
    position: static;
    max-width: 600px;
    padding: 120px 15px;
    margin: 0 auto;
    text-align: center; } }

.b_deals ._content a {
  display: inline-block;
  margin-bottom: 15px; }

@media (max-width: 1090px) {
  .b_deals {
    min-height: 1px; } }

.b_how_it_works {
  text-align: center;
  padding: 90px 15px 110px; }

.b_how_it_works ._title_h3 {
  margin: 0 0 100px; }

.b_how_it_works ._all_steps {
  font-size: 0; }

.b_how_it_works ._step {
  display: inline-block;
  vertical-align: top;
  color: #ffffff;
  font-size: 20px;
  max-width: 250px;
  margin: 0 80px; }

@media (max-width: 1299px) {
  .b_how_it_works ._step {
    margin: 0 40px; } }

@media (max-width: 1040px) {
  .b_how_it_works ._step {
    margin: 0 20px; } }

@media (max-width: 991px) {
  .b_how_it_works ._step {
    margin: 0 20px 30px; } }

.b_how_it_works ._step ._icon {
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 4px solid #803aad;
  margin: 0 auto 30px;
  position: relative; }

@media (max-width: 991px) {
  .b_how_it_works ._step ._icon {
    margin-bottom: 15px; } }

.b_how_it_works ._step ._icon .fa {
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.b_how_it_works ._step ._icon .fa-mobile {
  font-size: 37px; }

.b_how_it_works ._step ._title {
  font-size: 25px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 25px; }

@media (max-width: 991px) {
  .b_how_it_works ._step ._title {
    margin-bottom: 15px; } }

.b_how_it_works ._step ._text {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4; }

.b_partner {
  position: relative;
  text-align: center;
  padding: 115px 0 95px; }

.b_partner ._title_h3 {
  margin-bottom: 104px; }

.b_partner ._text {
  font-size: 25px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin-bottom: 90px;
  padding: 0 15px; }

@media (max-width: 370px) {
  .b_partner ._butn-holder {
    padding: 0 15px; }
  .b_partner ._butn-holder .butn {
    min-width: 1px;
    width: 100%; } }

.b_marketing {
  padding: 70px 0;
  background: #000; }

@media (max-width: 991px) {
  .b_marketing {
    padding: 40px 0; } }

.b_marketing ._inner_title_h3 {
  padding-top: 20px; }

.b_marketing ._inner-text {
  max-width: 700px; }

@media (max-width: 991px) {
  .b_marketing ._img {
    padding-top: 30px;
    text-align: center; } }

._inner_title_h3 {
  padding-bottom: 50px;
  margin-bottom: 40px;
  position: relative;
  color: #ffffff;
  font-family: "Arial MT", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 3px; }

._inner_title_h3:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 97px;
  height: 5px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#773aab), to(#cf00ff));
  background-image: -webkit-linear-gradient(bottom, #773aab 0%, #cf00ff 100%);
  background-image: linear-gradient(to top, #773aab 0%, #cf00ff 100%); }

._inner_title_h3 span {
  display: block;
  color: #b6b6b6;
  margin-bottom: 5px; }

._inner_title_h3._center {
  text-align: center; }

._inner_title_h3._center:before {
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

._inner_title_h3._without-line:before {
  display: none; }

@media (max-width: 991px) {
  ._inner_title_h3 {
    text-align: center; }
  ._inner_title_h3:before {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); } }

.b_needs {
  padding: 90px 0 0 0; }

.b_needs ._inner-text {
  max-width: 735px;
  margin: 0 auto 40px; }

.b_more_customers {
  padding: 130px 0;
  position: relative;
  min-height: 479px; }

@media (max-width: 991px) {
  .b_more_customers {
    padding: 50px 0; } }

.b_more_customers ._inner_title_h3 {
  padding-top: 50px; }

.b_contacts {
  padding: 150px 0 50px;
  min-height: 765px;
  background: url("../img/bg-contacts.png") no-repeat;
  background-position: left center; }

@media (max-width: 991px) {
  .b_contacts {
    padding: 50px 0; }
  .b_contacts .container {
    max-width: 400px; } }

.b_contacts ._inner_title_h3 {
  margin-bottom: 100px; }

@media (max-width: 991px) {
  .b_contacts ._inner_title_h3 {
    margin-bottom: 0; } }

.b_contacts_cont-page {
  background: url("../img/bg-contacts-cony-page.png") no-repeat;
  background-position: right center; }

.b_contacts_cont-page .contacts-list {
  padding-left: 150px;
  padding-top: 66px; }

@media (max-width: 1199px) {
  .b_contacts_cont-page .contacts-list {
    padding-left: 50px; } }

@media (max-width: 991px) {
  .b_contacts_cont-page .contacts-list {
    padding-left: 0; } }

.contacts-list {
  list-style: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase;
  padding-left: 0; }

@media (max-width: 991px) {
  .contacts-list {
    margin-bottom: 70px; } }

.contacts-list a {
  color: #ffffff;
  font-weight: 400; }

.contacts-list a:hover {
  text-decoration: none; }

.contacts-list li {
  display: block;
  padding-left: 55px;
  position: relative;
  margin-bottom: 35px; }

@media (max-width: 991px) {
  .contacts-list li {
    margin-bottom: 15px;
    padding-left: 35px; } }

.contacts-list .fa {
  position: absolute;
  left: 0;
  top: 0;
  /* Style for "" */
  width: 25px;
  height: 20px;
  color: #02ffdd;
  font-size: 25px;
  line-height: 1; }

.contacts-list li:hover .fa {
  -webkit-animation: moveTop .3s;
          animation: moveTop .3s; }

.form-wrap .row {
  margin-left: -20px;
  margin-right: -20px; }

.form-wrap [class*='col-'] {
  padding-left: 20px;
  padding-right: 20px; }

.input-row {
  margin-bottom: 40px;
  position: relative; }

@media (max-width: 991px) {
  .input-row {
    margin-bottom: 25px; } }

.input-row .fa {
  position: absolute;
  font-size: 27px;
  bottom: 22px;
  left: 0; }

.input-row .fa-map-marker {
  left: 6px; }

.input-row input, .input-row textarea {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #b7b8b9;
  padding-bottom: 22px;
  color: #dadada;
  font-size: 20px;
  font-weight: 400;
  line-height: 1; }

.input-row input {
  padding-left: 45px; }

.input-row textarea {
  height: 215px;
  max-height: 215px;
  min-height: 215px;
  max-width: 100%;
  min-width: 100%; }

.floatplaceholder {
  color: #dadada;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  position: absolute;
  left: 45px;
  bottom: 22px;
  pointer-events: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

textarea + .floatplaceholder {
  left: 0;
  bottom: -webkit-calc(100% - 20px);
  bottom: calc(100% - 20px); }

.input-row input:focus + label, .input-row textarea:focus + label,
label.stay {
  bottom: 100%;
  font-size: 12px; }

.butn-row {
  text-align: right; }

@media (max-width: 991px) {
  .butn-row {
    text-align: center; } }

.butn-row .butn {
  border: none;
  min-width: 194px;
  font-weight: 400;
  padding: 21px 15px 22px; }

.b_how-much {
  padding: 130px 0;
  background: url("../img/bg-how-much.png") no-repeat right bottom; }

@media (max-width: 991px) {
  .b_how-much {
    padding: 70px 0;
    background: transparent; } }

.b_venues {
  padding: 120px 0;
  background: #000 url("../img/bg-venues.png") no-repeat left bottom;
  background-size: contain; }

@media (max-width: 1199px) {
  .b_venues {
    background-size: 50%;
    background-position: left center; } }

@media (max-width: 991px) {
  .b_venues {
    padding: 70px 0;
    background: #000; } }

.b_how-soon {
  padding: 80px 0; }

.b_how-soon ._inner_title_h3 {
  padding-top: 50px; }

@media (max-width: 991px) {
  .b_how-soon {
    padding: 70px 0; }
  .b_how-soon ._inner_title_h3 {
    padding-top: 0; }
  .b_how-soon ._inner-text {
    margin-bottom: 40px; } }

.benefit {
  width: 50%;
  float: left;
  text-align: center;
  margin-bottom: 60px;
  padding: 0 10px; }

.benefit__icon {
  margin: 0 auto 30px;
  width: 92px;
  height: 92px;
  background: rgba(64, 66, 70, 0.2);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: relative; }

.benefit__icon img {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.b_discount {
  background: #000;
  padding-top: 95px; }

.b_discount ._inner_title_h3 {
  max-width: 750px;
  margin: 0 auto; }

.b_discount ._inner-text {
  margin: 0 auto 80px;
  max-width: 720px; }

@media (max-width: 991px) {
  .b_discount {
    padding-top: 70px; } }

.b_partner_apply {
  position: relative;
  min-height: 563px;
  padding: 150px 0 130px; }

.b_partner_apply ._inner_title_h3 {
  max-width: 750px;
  margin: 0 auto;
  padding-bottom: 35px; }

.b_partner_apply ._inner-text {
  max-width: 750px;
  margin: 0 auto 50px; }

.b_partner_apply ._butn_holder {
  text-align: center; }

@media (max-width: 991px) {
  .b_partner_apply {
    padding: 90px 0; } }

footer {
  padding: 26px 0 25px; }

footer .container {
  text-align: justify;
  font-size: 0; }

footer .container:after {
  content: "";
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  display: inline-block; }

@media (max-width: 991px) {
  footer {
    padding: 15px 0; } }

.footer__item {
  display: inline-block;
  vertical-align: top;
  font-size: 16px; }

.footer__item:nth-child(2) {
  -webkit-transform: translateX(-50px);
      -ms-transform: translateX(-50px);
          transform: translateX(-50px); }

@media (max-width: 991px) {
  .footer__item:nth-child(2) {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); } }

@media (max-width: 991px) {
  .footer__item {
    display: block;
    text-align: center;
    margin-bottom: 15px; } }

.footer__item a {
  opacity: 0.5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.footer__item a + a {
  margin-left: 40px; }

@media (max-width: 991px) {
  .footer__item a + a {
    margin-left: 15px; } }

.footer__item a:hover {
  text-decoration: none;
  color: #ffffff;
  opacity: 1; }

.footer__item .fa {
  font-size: 30px; }

.copyright {
  opacity: 0.5;
  color: #ffffff;
  font-size: 16px;
  line-height: 1; }
