main
	.b_main_banner
		._bl_background
			img(src='img/main_banner.jpg', alt='')
		._title-holder
			h1._title_h1
				| 50% OFF
			h2._title_h2
				| Drinks in LKF on Friday night
	.b_benefits
		._title_h3
			| BENEFITS
		._quote
			| GET DISCOUNTS ON DRINKS IN THE BEST PART OF TOWN, AT THE TIME YOU REALLY WANT IT.
		p
			| You get access to the most exclusive discounts by using BarMate.  We negotiate exclusive deals with our partners to give you discounts. Don’t have time for happy hour? No worries—we’ve secured deals for the hottest times: Friday and Saturday nights.
	.b_deals
		._bl_background
			img(src='img/deals_banner.jpg', alt='')
		._content
			p
				| Find deals near you, and select the one you want.
			a(href='#')
				img(src='img/app_store.png', alt='')
			a(href='#')
				img(src='img/google_play.png', alt='')
		._img
			img(src='img/iphone.png', alt='')
	.b_how_it_works
		._title_h3
			| HOW IT WORKS
		._all_steps
			._step
				._icon
					.fa.fa-mobile
				._title DOWNLOAD
				._text
					| Download the BarMate App from the Apple iOS OR Google Play Store.
			._step
				._icon
					.fa.fa-search
				._title SEARCH
				._text
					| Find deals near you, and select the one you want
			._step
				._icon
					.fa.fa-glass
				._title ENJOY
				._text
					| Show the bartender the deal using the BarMate app, and enjoybig savings!
	.b_partner
		._bl_background
			img(src='img/bg-partner.png' alt='')
		._title_h3 PARTNER
		._text Want to Bring More Customers to Your Venue?
		._butn-holder
			a.butn(href='#') Partner with us
