main
	.b_main_banner._faq
		._bl_background
			img(src='img/bg-contact-us-page.png', alt='')
		._title-holder.container
			h1._title_h1
				| WE’D LOVE
			h2._title_h2._blue
				| TO HEAR FROM YOU
	.b_contacts.b_contacts_cont-page
		.container
			.row
				.col-md-7
					.form-wrap
						form
							.row
								.col-md-6
									.input-row
										.fa.fa-user
										input(type='text' name='name' placeholder="Name")
									.input-row
										.fa.fa-glass
										input(type='text' name='barname' placeholder="Bar name")
								.col-md-6
									.input-row
										.fa.fa-envelope
										input(type='email' name='email' placeholder="E-mail")
									.input-row
										.fa.fa-map-marker
										input(type='text' name='location' placeholder="Bar location")
								.col-md-12
									.input-row
										textarea(placeholder='Message')
							.butn-row
								button.butn(type='submit') Submit
				.col-md-5
					ul.contacts-list
						li
							.fa.fa-map-marker
							a(href='https://goo.gl/maps/CCbaAEbA88G2' target='_blank') SOHO 94 BROADWAY ST <br> NEW YORK, NY 1001
						li
							.fa.fa-phone
							a(href='tel:0012345678' ) 001 234 56 78
						li
							.fa.fa-envelope
							a(href='mailto:HELLO@INFO@BARMATE.COM' ) INFO@BARMATE.COM
						li
							.fa.fa-clock-o
							| MON. - FRI. 10:00 - 19:00