main
	.b_main_banner._faq
		._bl_background
			img(src='img/bg-faq.png', alt='')
		._title-holder.container
			h1._title_h1
				| WE ARE USUALLY
			h2._title_h2
				| ASKED ABOUT
	.b_how-much
		.container
			.row
				.col-md-6
					._inner_title_h3
						| How much is membership?
					._inner-text
						|The App is FREE OF CHARGE for all users and after
						|signing up, we will keep you up-to-date with new weekly
						|offers by notifications/email.
	.b_venues
		.container
			.row
			.col-md-6
			.col-md-6
				._inner_title_h3
					| What types of venues are on
					| Barmate?
				._inner-text
					| We partner with popular venues around the Lan Kwai Fong
					| area.  We select bars based on our user’s preferences of
					| entertainment establishments.
	.b_how-soon
		.container
			.row
				.col-md-7
					._inner_title_h3
						| How soon after signing in can
						| I have my discount on my drinks?
					._inner-text
						|As soon as you log in, you can immediately begin to receive
						|discounts at our partnered venues.
				.col-md-5
					.benefits.clearfix
						.benefit
							.benefit__icon
								img(src='img/icon-clock.svg')
							.benefit__text Immediately
						.benefit
							.benefit__icon
								img(src='img/icon-tag.svg')
							.benefit__text Various Discounts
						.benefit
							.benefit__icon
								img(src='img/icon-street-view.svg')
							.benefit__text Convenience
						.benefit
							.benefit__icon
								img(src='img/icon-repeat.svg')
							.benefit__text Update shortly
	.b_discount
		.container
			._inner_title_h3._without-line._center
				|Can I go to multiple Barmate venues
				|and get discount at every venue?
			._inner-text._center
				|Every venue offers different discounts and special deals.
				|You select the venue and click “give me the deal“ for this venue.
				|You can easily click another venue once you change location.
			._img._center
				img(src='img/img-discount.png' alt='')
	.b_partner_apply
		._bl_background
			img(src='img/bg-partner_apply.png', alt='')
		.container
			._inner_title_h3._without-line._center
				|I have a bar and want to partner with Barmate
				|how do I go about that?
			._inner-text._center
				|Check here to apply to have your venue partnered with Barmate.
			._butn_holder
				a.butn.butn_apply(href="#")
					.fa.fa-paper-plane
					|Apply

