footer
    .container
        .footer__item
            a(href='#') Privacy Policy
            a(href='#') Terms and Conditions
        .footer__item
            a.fa.fa-facebook(href='#' target='_blank' rel='nofollow')
            a.fa.fa-pinterest(href='#' target='_blank' rel='nofollow')
            a.fa.fa-instagram(href='#' target='_blank' rel='nofollow')
        .footer__item
            .copyright Copyright 2018 BARMATE
