header.b_header
    a.main_logo(href='#')
        img(src='img/main_logo.png', alt='logo')
    #hamburger
        span
        span
        span
        span
    ._nav
        ul
            li.current-page
                a(href='index.html') Home
            li
                a(href='faq.html') FAQ
            li
                a(href='partner.html') Partner
            li
                a(href='contact_us.html') Contact us