main
	.b_main_banner._inner
		._bl_background
			img(src='img/bg-partner-page.png', alt='')
		._title-holder
			h1._title_h1
				| BRING IN MORE CUSTOMERS
			h2._title_h2
				| TO YOUR VENUE
	.b_marketing
		.container
			.row
				.col-md-8
					._inner_title_h3
						span  Free Marketing
						| for Your Bar or Venue
					._inner-text
						|We give you free marketing by letting our entire userbase know about you. 
						|Instead of hoping people will walk by and stop in, we let everyone know
						|about you directly.  Aside from our App, we also utilize social media and
						|other platforms to ensure you get the exposure you deserve.
				.col-md-4._img
					img(src='img/img-marketing.png' alt='')

	.b_needs
		._inner_title_h3._center
			| Understand Your Customer’s Needs
		._inner-text._center
			| To ensure the best user experience, and to make sure you know what your
			| patrons care about, we’ve collected and optimized analytics which will help
			| ensure you know how to optimize your business to suit your customer needs.
			| The happier your customers, the more likely they’ll come back again and again.
		._img._center
			img(src='img/img-needs.png' alt='')
	.b_more_customers
		._bl_background
			img(src='img/bg-more-customers.png' alt='')
		.container
			.row
				.col-md-5
					._inner_title_h3
						span  Want to Bring in
						| More Customers?
				.col-md-7
					._inner-text
						._title We know the bar business is highly sensitive to
							| the number of people you have in your bar.
						| If you’re empty, a lot of people will simply pass by, but if you’ve got a lot of
						| people inside, others will want to come join them. BarMate helps ensure
						| your bar has customers when you need them.  The more customers, the
						| more drinks you can sell.
	.b_contacts
		.container
			.row
				.col-md-5
					._inner_title_h3._without-line
						span  Apply to
						|Become a Partner
					ul.contacts-list
						li
							.fa.fa-map-marker
							a(href='https://goo.gl/maps/CCbaAEbA88G2' target='_blank') SOHO 94 BROADWAY ST <br> NEW YORK, NY 1001
						li
							.fa.fa-phone
							a(href='tel:0012345678' ) 001 234 56 78
						li
							.fa.fa-envelope
							a(href='mailto:HELLO@INFO@BARMATE.COM' ) INFO@BARMATE.COM
						li
							.fa.fa-clock-o
							| MON. - FRI. 10:00 - 19:00
				.col-md-7
					.form-wrap
						form
							.row
								.col-md-6
									.input-row
										.fa.fa-user
										input(type='text' name='name' placeholder="Name")
									.input-row
										.fa.fa-glass
										input(type='text' name='barname' placeholder="Bar name")
								.col-md-6
									.input-row
										.fa.fa-envelope
										input(type='email' name='email' placeholder="E-mail")
									.input-row
										.fa.fa-map-marker
										input(type='text' name='location' placeholder="Bar location")
								.col-md-12
									.input-row
										textarea(placeholder='Message')
							.butn-row
								button.butn(type='submit') Submit

