doctype html
html
	head
		include ./_head
	body
		include ./components/_header
		include ./components/_content
		include ./components/_footer
		//scripts
		
		//- jquery:js
		script(src="vendor/js/jquery.js")
		//- endinject
		//- inject:js
		script(src="vendor/js/bootstrap.min.js")
		script(src="js/main.js")
		//- endinject