.b_benefits{
  background-color: #121417;
  text-align: center;
  padding: 85px 15px 120px;
  @include bp(767){
    padding: 55px 15px 70px;
  }

  
  ._quote{
    font-size: 25px;
    text-transform: uppercase;
    padding: 45px 55px;
    max-width: 827px;
    margin: 0 auto 60px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    line-height: 2;
    @include bp(767){
      padding: 24px 10px;
      font-size: 20px;
      margin-bottom: 30px;
    }
  }
  
  p{
    font-size: 20px;
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.9;
    @include bp(767){
      font-size: 18px;
    }
  }
}