/*--== buttons ==--*/
.butn {
    display: inline-block;
    min-width: 328px;
    padding:27px 15px 28px;
    border-radius: 40px;
    background-image: linear-gradient(-267deg, #773aab 0%, #cf00ff 100%);
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    letter-spacing: 3.27px;
    @include trans;
    &:hover, &:active, &:focus{
        color: #ffffff;
        text-decoration: none;
        background-image: linear-gradient(-267deg, #cf00ff 0% ,#773aab 100%);
    }
    @media (max-width:400px) {

    }
}
.butn_apply{
    min-width: 229px;
    padding: 20px 15px 22px;
    font-weight: 400;
    .fa{
        margin-right: 20px;
    }

}
/*--== /buttons ==--*/
