.b_deals {
    position: relative;
    min-height: 653px;
    overflow: hidden;
    ._img {
        position: absolute;
        bottom: 0;
        right: 50%;
        margin: 0 100px 0 0;
        img {
            max-width: 100%;
        }
        @media (max-width: 1090px){
            display: none;
        }

    }
    ._content {
        position: absolute;
        left: 50%;
        max-width: 525px;
        font-size: 0;
        padding: 250px 0 0;

        p {
            font-size: 45px;
            line-height: 1.25;
            margin: 0 0 60px;
            @include bp(767){
                font-size: 30px;
            }
        }
        @media (max-width: 1090px){
            position: static;
            max-width: 600px;
            padding: 120px 15px;
            margin: 0 auto;
            text-align: center;

        }
        a{
            display: inline-block;
            margin-bottom: 15px;

        }
    }
    @media (max-width: 1090px){
        min-height: 1px;
    }
}