.b_how-much{
    padding: 130px 0;
    background:url("../img/bg-how-much.png") no-repeat right bottom;
    @include bp(991){
        padding: 70px 0;
        background: transparent;
    }
}
.b_venues{
    padding: 120px 0;
    background: #000 url("../img/bg-venues.png") no-repeat left bottom;
    background-size: contain ;
    @include bp(1199){
        background-size: 50%;
        background-position: left center;
    }
    @include bp(991){
        padding: 70px 0;
        background: #000 ;
    }
}
.b_how-soon{
    padding: 80px 0;
    ._inner_title_h3{
        padding-top: 50px;
    }
    @include bp(991){
        padding: 70px 0;
        ._inner_title_h3{
            padding-top: 0;
        }
        ._inner-text{
            margin-bottom: 40px;
        }
    }
}

.benefit{
    width: 50%;
    float: left;
    text-align: center;
    margin-bottom: 60px;
    padding: 0 10px;
    &__icon{
        margin: 0 auto 30px;
        width: 92px;
        height: 92px;
        background: rgba(#404246,0.2 );
        border-radius: 50%;
        position: relative;
        img{
            max-width: 100%;
            position: absolute;
            @include center;
        }
    }
}
.b_discount{
    background: #000;
    padding-top: 95px;
    ._inner_title_h3{
        max-width: 750px;
        margin: 0 auto;
    }
    ._inner-text{
        margin: 0 auto 80px;
        max-width: 720px;
    }
   @include bp(991){
       padding-top: 70px;
   }
}
.b_partner_apply{
    position: relative;
    min-height: 563px;
    padding: 150px 0 130px;
    ._inner_title_h3{
        max-width: 750px;
        margin: 0 auto;
        padding-bottom: 35px;
    }
    ._inner-text{
        max-width: 750px;
        margin: 0 auto 50px;
    }
    ._butn_holder{
        text-align: center;
    }
    @include bp(991){
        padding: 90px 0;
    }
}