@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
//font-family: 'Poiret One', cursive;

@font-face {
    font-family: 'Arial MT';
    src: url('../fonts/arialmt/arialmt.eot');
    src: url('../fonts/arialmt/arialmt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/arialmt/arialmt.woff2') format('woff2'),
    url('../fonts/arialmt/arialmt.woff') format('woff'),
    url('../fonts/arialmt/arialmt.ttf') format('truetype'),
    url('../fonts/arialmt/arialmt.svg#ArialMT') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Arial MT';
    src: url('../fonts/arialmt/arial-boldmt.eot');
    src: url('../fonts/arialmt/arial-boldmt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/arialmt/arial-boldmt.woff2') format('woff2'),
    url('../fonts/arialmt/arial-boldmt.woff') format('woff'),
    url('../fonts/arialmt/arial-boldmt.ttf') format('truetype'),
    url('../fonts/arialmt/arial-boldmt.svg#Arial-BoldMT') format('svg');
    font-weight: 700;
    font-style: normal;
}



