footer{
    padding: 26px 0 25px;
    .container{
        @include jusWrap;
        font-size: 0;
    }
    @media (max-width: 991px){
        padding: 15px 0 ;
    }

}
.footer__item{
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    &:nth-child(2){
        transform: translateX(-50px);
        @media (max-width: 991px){
            transform: translateX(0);
        }
    }
    @media (max-width: 991px){
        display: block;
        text-align: center;
        margin-bottom: 15px;
    }
    a{
        opacity: 0.5;
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        line-height: 1;
        @include trans;
        + a {
            margin-left: 40px;
            @media (max-width: 991px){
                margin-left: 15px;
            }
        }
        &:hover{
            text-decoration: none;
            color: #ffffff;
            opacity: 1;
        }
    }
    .fa{
        font-size: 30px;

    }
}
.copyright {
    opacity: 0.5;
    color: #ffffff;
    font-size: 16px;
    line-height: 1;
}