.b_header {
    .main_logo {
        position: absolute;
        display: inline-block;
        top: 23px;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 9;
        img{
            max-width: 100%;
        }
        @include bp(767){
            top: 15px;
        }
        @media (max-width: 460px){
            left: 15px;
            transform: translate(0, 0);
            width:calc(100% - 108px);

        }
    }
    ._nav {
        position: absolute;
        right: 35px;
        top: 41%;
        transform: translateY(-50%);
        z-index: 1;
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            text-align: right;
            li {
                line-height: 1;
                + li {
                    margin: 45px 0 0;
                }
            }
            a {
                font-size: 21px;
                letter-spacing: 3.15px;
                color: #a7a7a7;
                text-decoration: none;
                transition: all .2s linear;
                display: inline-block;
                position: relative;
                &:before {
                    position: absolute;
                    content: '';
                    top: 100%;
                    right: 0;
                    height: 5px;
                    margin-top: 10px;
                    background-image: linear-gradient(to top, #773aab 0%, #9c38b3 100%);
                    width: 0;
                    transition: all .2s linear;
                }
                &:hover, &:active {
                    color: #ffffff;
                    &:before {
                        width: calc(100% + 10px);
                    }
                }
            }
            .current-page {
                a {
                    color: #ffffff;
                    &:before {
                        width: calc(100% + 10px);
                    }
                }
            }
        }
        @media (max-width: 767px){
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            height: 100vh;
            padding: 80px 25px 0 0 ;
            transform: translateY(-100%);
            transition: all .3s ease-in-out;
            background: rgba(#121417, .95);
            li{
                transform: translateX(300%);
                transition: all .3s ease-in-out;
                transition-delay: .1s;
                &:nth-child(2){
                    transition-delay: .2s;
                }
                &:nth-child(3){
                    transition-delay: .3s;
                }
                &:nth-child(4){
                    transition-delay: .4s;
                }
            }
            &.open{
                transform: translateY(0);
                li{
                    transform: translateX(0);
                }
            }
        }
    }
}

#hamburger {
    display: none;
    width: 36px;
    height: 36px;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 9;
    position: absolute;
    top: 24px;
    right: 25px;
    span {
        display: block;

        position: absolute;
        height: 4px;
        width: 100%;
        background: #8d39b0;
        border-radius: 4px;
        opacity: 1;
        left: 0;
        transition: .25s ease-in-out;
        &:nth-child(1) {
            top: 0;
        }
        &:nth-child(2), &:nth-child(3) {
            top: 9px;
        }
        &:nth-child(4) {
            top: 18px;
        }
    }
    &.open span:nth-child(1) {
        top: 9px;
        width: 0;
        left: 50%;
    }
    &.open span:nth-child(2) {
        transform: rotate(45deg);
    }
    &.open span:nth-child(3) {
        transform: rotate(-45deg);
    }
    &.open span:nth-child(4) {
        top: 9px;
        width: 0;
        left: 50%;
    }
    @include bp(767){
        display: block;



    }
}

