.container{
  @media (min-width:1300px){
    width:1240px;
  }
}
._bl_background{
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  img{
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}
._title_h3{
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 6px;
  line-height: 1;
  margin: 0 0 50px;
  font-family: "Arial MT", sans-serif;
  font-weight: 700;
  @include bp(767){
    font-size: 25px;
  }
}
._img{
  img{
    max-width: 100%;
  }
  &._center{
    text-align: center;
  }
}
._inner-text{
  color: #939496;
  font-family: "Arial MT", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.7;
  @include bp(991){
    padding: 0 15px;
    text-align: center;
  }
  &._center{
    text-align: center;
  }
  ._title{
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.75px;
    margin-bottom: 10px;
  }
}