.b_how_it_works {
    text-align: center;
    padding: 90px 15px 110px;

    ._title_h3 {
        margin: 0 0 100px;
    }

    ._all_steps {
        font-size: 0;
    }
    ._step {
        display: inline-block;
        vertical-align: top;
        color: #ffffff;
        font-size: 20px;
        max-width: 250px;
        margin: 0 80px;
        @media (max-width: 1299px){
            margin: 0 40px;
        }
        @media (max-width: 1040px){
            margin: 0 20px;
        }
        @media (max-width: 991px){
            margin: 0 20px 30px;
        }
        ._icon {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            border: 4px solid #803aad;
            margin: 0 auto 30px;
            position: relative;
            @media (max-width: 991px){
                margin-bottom: 15px;
            }
            .fa {
                font-size: 30px;
                position: absolute;
                @include center;
            }
            .fa-mobile {
                font-size: 37px;
            }
        }
        ._title{
            font-size: 25px;
            font-weight: 400;
            line-height: 1;
            text-transform: uppercase;
            margin-bottom: 25px;
            @media (max-width: 991px){
                margin-bottom: 15px;
            }
        }
        ._text{
            font-size: 20px;
            font-weight: 400;
            line-height: 1.4;
        }
    }
}