.b_main_banner {
    min-height: 742px;
    text-align: center;
    position: relative;
    ._title-holder {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    ._title_h1 {
        font-size: 85px;
        margin: 0 0 40px;
        line-height: 1;
        font-family: "Permanent Marker";
    }
    ._title_h2 {
        margin: 0;
        font-size: 50px;
        font-family: "Permanent Marker";
    }
    @media (max-width: 767px) {
        min-height: 568px;
        height: 100vh;
        ._title-holder {
            width: 100%;
            padding: 0 15px;
        }
        ._title_h1 {
            font-size: 65px;
        }
        ._title_h2 {
            font-size: 40px;
        }
    }
    &._inner {
        ._title_h1 {
            font-family: 'Poiret One', cursive;
            font-size: 52px;
            font-weight: 400;
            line-height: 1.1;
            text-transform: uppercase;
            @media (max-width: 699px) {
                font-size: 42px;
            }
        }
        ._title_h2 {
            font-family: 'Poiret One', cursive;
            font-size: 89px;
            line-height: 1;
            text-transform: uppercase;
            position: relative;
            @media (max-width: 699px) {
                font-size: 69px;
            }
            &:before {
                @include pseudo;
                width: 1018px;
                max-width: 90vw;
                height: 70%;
                bottom: 0;
                z-index: -1;
                left: 50%;
                transform: translateX(-50%);
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8b39b0+0,8b39b0+50,8b39b0+50,8b39b0+100&0+0,0.8+27,1+44,1+44,1+57,0.8+73,0+100 */
                background: -moz-linear-gradient(left, rgba(139, 57, 176, 0) 0%, rgba(139, 57, 176, 0.8) 27%, rgba(139, 57, 176, 1) 44%, rgba(139, 57, 176, 1) 50%, rgba(139, 57, 176, 1) 57%, rgba(139, 57, 176, 0.8) 73%, rgba(139, 57, 176, 0) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(left, rgba(139, 57, 176, 0) 0%, rgba(139, 57, 176, 0.8) 27%, rgba(139, 57, 176, 1) 44%, rgba(139, 57, 176, 1) 50%, rgba(139, 57, 176, 1) 57%, rgba(139, 57, 176, 0.8) 73%, rgba(139, 57, 176, 0) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right, rgba(139, 57, 176, 0) 0%, rgba(139, 57, 176, 0.8) 27%, rgba(139, 57, 176, 1) 44%, rgba(139, 57, 176, 1) 50%, rgba(139, 57, 176, 1) 57%, rgba(139, 57, 176, 0.8) 73%, rgba(139, 57, 176, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008b39b0', endColorstr='#008b39b0', GradientType=1); /* IE6-9 */
                background-size: 100% 80%;
            }

        }
    }
    &._faq {
        ._title_h1 {
            opacity: 0.8;
            color: #eadcd9;
            font-family: "Poiret One";
            font-size: 61px;
            font-weight: 400;
            line-height: 1.1;
            text-transform: uppercase;
            text-align: left;
        }
        ._title_h2 {
            color: #ffffff;
            font-family: "Poiret One";
            font-size: 110px;
            font-weight: 400;
            line-height: 1.1;
            text-transform: uppercase;
            text-align: left;
            position: relative;
            &:before {
                @include pseudo;
                width: 1018px;
                max-width: 90vw;
                height: 70%;
                bottom: 0;
                z-index: -1;
                left: -80px;
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#978a2d+0,b4733b+26,c16445+50,c43040+75,c43040+100&1+0,1+81,0.68+90,0+100 */
                background: -moz-linear-gradient(left, rgba(151, 138, 45, 1) 0%, rgba(180, 115, 59, 1) 26%, rgba(193, 100, 69, 1) 50%, rgba(196, 48, 64, 1) 75%, rgba(196, 48, 64, 1) 81%, rgba(196, 48, 64, 0.68) 90%, rgba(196, 48, 64, 0) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(left, rgba(151, 138, 45, 1) 0%, rgba(180, 115, 59, 1) 26%, rgba(193, 100, 69, 1) 50%, rgba(196, 48, 64, 1) 75%, rgba(196, 48, 64, 1) 81%, rgba(196, 48, 64, 0.68) 90%, rgba(196, 48, 64, 0) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right, rgba(151, 138, 45, 1) 0%, rgba(180, 115, 59, 1) 26%, rgba(193, 100, 69, 1) 50%, rgba(196, 48, 64, 1) 75%, rgba(196, 48, 64, 1) 81%, rgba(196, 48, 64, 0.68) 90%, rgba(196, 48, 64, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#978a2d', endColorstr='#00c43040', GradientType=1); /* IE6-9 */
            }
            &._blue {
                font-size: 89px;
                &:before {
                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#711b85+0,5c2197+26,4227ae+51,4227ae+74,4227ae+100&1+0,1+79,0.68+90,0+100 */
                    background: -moz-linear-gradient(left, rgba(113, 27, 133, 1) 0%, rgba(92, 33, 151, 1) 26%, rgba(66, 39, 174, 1) 51%, rgba(66, 39, 174, 1) 74%, rgba(66, 39, 174, 1) 79%, rgba(66, 39, 174, 0.68) 90%, rgba(66, 39, 174, 0) 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(left, rgba(113, 27, 133, 1) 0%, rgba(92, 33, 151, 1) 26%, rgba(66, 39, 174, 1) 51%, rgba(66, 39, 174, 1) 74%, rgba(66, 39, 174, 1) 79%, rgba(66, 39, 174, 0.68) 90%, rgba(66, 39, 174, 0) 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to right, rgba(113, 27, 133, 1) 0%, rgba(92, 33, 151, 1) 26%, rgba(66, 39, 174, 1) 51%, rgba(66, 39, 174, 1) 74%, rgba(66, 39, 174, 1) 79%, rgba(66, 39, 174, 0.68) 90%, rgba(66, 39, 174, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#711b85', endColorstr='#004227ae', GradientType=1); /* IE6-9 */
                }
            }
        }
        @include bp(991) {
            ._title_h1, ._title_h1._blue {
                font-size: 40px;
            }
            ._title_h2, ._title_h2._blue {
                font-size: 60px;
            }
        }
        @media(max-width: 460px) {
            ._title_h1, ._title_h1._blue {
                font-size: 35px;
            }
            ._title_h2, ._title_h1._blue {
                font-size: 45px;
            }
        }
    }
}