.b_partner{
    position: relative;
    text-align: center;
    padding: 115px 0 95px;
    ._title_h3{
        margin-bottom: 104px;
    }
    ._text{
        font-size: 25px;
        font-weight: 400;
        line-height: 1.2;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        margin-bottom: 90px;
        padding: 0 15px;
    }
    ._butn-holder{
        @media (max-width: 370px){
            padding: 0 15px;
            .butn{
                min-width: 1px;
                width: 100%;
            }
        }
    }
}