.b_marketing {
    padding: 70px 0;
    background: #000;
    @include bp(991) {
        padding: 40px 0;
    }
    ._inner_title_h3 {
        padding-top: 20px;
    }
    ._inner-text {
        max-width: 700px;
    }
    ._img {
        @include bp(991) {
            padding-top: 30px;
            text-align: center;
        }
    }
}

._inner_title_h3 {
    padding-bottom: 50px;
    margin-bottom: 40px;
    position: relative;
    color: #ffffff;
    font-family: "Arial MT", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 3px;

    &:before {
        @include pseudo;
        bottom: 0;
        left: 0;
        width: 97px;
        height: 5px;
        background-image: linear-gradient(to top, #773aab 0%, #cf00ff 100%);
    }
    span {
        display: block;
        color: #b6b6b6;
        margin-bottom: 5px;
    }
    &._center {
        text-align: center;
        &:before {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &._without-line {
        &:before {
            display: none;
        }
    }
    @include bp(991) {
        text-align: center;
        &:before {
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.b_needs {
    padding: 90px 0 0 0;
    ._inner-text {
        max-width: 735px;
        margin: 0 auto 40px;
    }
}

.b_more_customers {
    padding: 130px 0;
    position: relative;
    min-height: 479px;
    @include bp(991){
        padding: 50px 0;
    }
    ._inner_title_h3 {
        padding-top: 50px;
    }
}

.b_contacts {
    padding: 150px 0 50px;
    min-height: 765px;
    background: url("../img/bg-contacts.png") no-repeat;
    background-position: left center;
    @include bp(991){
        padding:50px 0;
        .container{
            max-width: 400px;
        }
    }
    ._inner_title_h3 {
        margin-bottom: 100px;
        @include bp(991){
            margin-bottom: 0;
        }
    }
}
.b_contacts_cont-page{
    background: url("../img/bg-contacts-cony-page.png") no-repeat;
    background-position: right center;
    .contacts-list{
        padding-left: 150px;
        padding-top: 66px;
        @include bp(1199){
            padding-left: 50px;
        }
        @include bp(991){
            padding-left: 0;
        }
    }
}
.contacts-list {
    list-style: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.1;
    text-transform: uppercase;
    padding-left: 0;
    @include bp(991){
        margin-bottom: 70px;
    }
    a {
        color: #ffffff;
        font-weight: 400;
        &:hover {
            text-decoration: none;
        }
    }
    li {
        display: block;
        padding-left: 55px;
        position: relative;
        margin-bottom: 35px;
        @include bp(991){
            margin-bottom: 15px;
            padding-left: 35px;
        }
    }
    .fa {
        position: absolute;
        left: 0;
        top: 0;
        /* Style for "" */
        width: 25px;
        height: 20px;
        color: #02ffdd;
        font-size: 25px;
        line-height: 1;
    }
    li:hover {
        .fa {
            animation: moveTop .3s;
        }
    }
}

.form-wrap {
    .row {
        margin-left: -20px;
        margin-right: -20px;
    }
    [class*='col-'] {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.input-row {
    margin-bottom: 40px;
    position: relative;
    @include bp(991){
        margin-bottom: 25px;
    }
    .fa {
        position: absolute;
        font-size: 27px;
        bottom: 22px;
        left: 0;
    }
    .fa-map-marker{
        left: 6px;
    }
    input, textarea {
        width: 100%;
        background: transparent;
        border: none;
        border-bottom: 1px solid #b7b8b9;
        padding-bottom: 22px;
        color: #dadada;
        font-size: 20px;
        font-weight: 400;
        line-height: 1;
    }
    input {
        padding-left: 45px;
    }
    textarea {
        height: 215px;
        max-height: 215px;
        min-height: 215px;
        max-width: 100%;
        min-width: 100%;
    }

}

.floatplaceholder {
    color: #dadada;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    position: absolute;
    left: 45px;
    bottom: 22px;
    pointer-events: none;
    @include trans;
}

textarea + .floatplaceholder {
    left: 0;
    bottom: calc(100% - 20px);
}

.input-row input:focus + label, .input-row textarea:focus + label,
label.stay {
    bottom: 100%;
    font-size: 12px;
}

.butn-row {
    text-align: right;
    @include bp(991){
        text-align: center;
    }
    .butn {
        border: none;
        min-width: 194px;
        font-weight: 400;
        padding: 21px 15px 22px;
    }
}
