@import 'fonts';
*{outline: none!important;&:focus, &:active{outline: none;}}

body{
  background-color: #121417;
  color: #fff;
  font-family: 'Arial MT', sans-serif;
  font-weight: 400;
  &.menu-open{
    overflow: hidden;
  }
}
@import 'mixins';
@import 'helps';
@import 'buttons';
@import 'header';
@import 'main_banner';
@import 'benefits';
@import 'deals';
@import 'how_it_works';
@import 'partner';
@import 'partner_page';
@import 'faq';
@import 'footer';
